:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Kameron", sans-serif;
  --forth-family: "Montserrat", sans-serif;

  --main-color: #2e8b57; /* Головний колір - зелений (SeaGreen) */
  --text-color: #3b5323; /* Колір тексту - темно-зелений (OliveDrab) */
  --second-color: #e0f7da; /* Другий колір - дуже світло-зелений (MintCream) */
  --accent-color: #9acd32; /* Акцентний колір - жовто-зелений (YellowGreen) */
  --bg-mobile: #f0fff0; /* Фон для мобільних - світлий зелений (Honeydew) */
  --bg-color: #006400; /* Основний фон - темно-зелений (DarkGreen) */

}
